@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  width: 200px;
}

.cabecalho-menu {
  font-weight: bold;
  display: flex;
  gap: 60px;
}

.menu-item {
  color: #000000;
  font-size: 20px;
}

.principal-box {
  height: 500px;
  display: flex;
}

#imagem-capa {
  background-image: url("/img/calculadora.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
}

.principal-texto {
  background-color: rgb(9, 82, 100, 0.9);
  color: #fff;
  font-size: 37px;
  margin-top: 24%;
  width: 55%;
  padding: 30px;
  height: 130px;
  margin-left: 90%;
}

#conteudo-box {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.secundario-box {
  margin-top: 5%;
  text-align: -webkit-center;
}

#agilidade,
#conhecimento,
#entrega {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  font-weight: bold;
  color: rgb(9, 82, 100);
  border: 1px solid;
  padding: 30px;
  border-radius: 10px;
}

p {
  word-wrap: break-word;
  margin-top: 12px;
  color: #000;
}

#entreEmContato {
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: rgb(9, 82, 100);
}

footer {
  padding: 50px 0 20px 0;
  font-weight: bold;
  bottom: 0;
  text-align: center;
}

.box:hover{
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

.menu-item:hover{
  transform: scale(1.1);
  transition: 1s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

#equipe{
  text-align: center;
  font-size: 32px;
  margin: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.card {
  width: calc(25% - 20px); 
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box; 
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-info {
  text-align: center;
}

.card-info h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-info p {
  margin-bottom: 10px;
}
