@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #095264;
}


.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}


.cabecalho-imagem {
  width: 80px;
}

.cabecalho-menu {
  font-weight: bold;
  display: flex;
  gap: 60px;
}

.cabecalho-menu a {
  color: #fff;
  font-size: 20px;
}

.menu-item {
  color: #000000;
  font-size: 20px;
}

.principal-box {
  height: 500px;
  display: flex;
}

#imagem-capa {
  background-image: url("/img/calculadora.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
}

.principal-texto {
  background-color: rgb(9, 82, 100, 0.9);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  color: #fff;
  font-size: 37px;
  margin-top: 24%;
  width: 55%;
  padding: 30px;
  height: 130px;
  margin-left: 90%;
}

#conteudo-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.secundario-box, .box-terceiro {
  margin: 5%;
  padding: 10%;
  text-align: -webkit-center;
  background-color: rgb(9, 82, 100, 0.9);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  font-weight: bold;
  color: white;
  border: 1px solid;
  padding: 30px;
  border-radius: 10px;
}

.box img {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.imagem-box-terceiro {
  display: block;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  height: 600px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
  
}

.imagem-box-terceiro:hover{
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

.imagem-box-terceiro img {
  border-radius: 10px;
}

p {
  word-wrap: break-word;
  margin-top: 12px;
  color: whitesmoke;
  font-size: 20px;
}

h2 {
  color: whitesmoke;
  font-size: 30px;
}

#entreEmContato {
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: rgb(9, 82, 100);
}

footer {
  padding: 50px 0 20px 0;
  font-weight: bold;
  bottom: 0;
  text-align: center;
}

.box:hover{
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

.menu-item:hover{
  transform: scale(1.1);
  transition: 1s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

#equipe{
  text-align: center;
  font-size: 32px;
  margin: 60px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.card {
  width: calc(25% - 20px); 
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box; 
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-info {
  text-align: center;
}

.card-info h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-info p {
  margin-bottom: 10px;
}
